 body{margin: 0px;
     padding: 0px; } 

nav{  margin: 50px;
     display: flex;
     justify-content: space-around;

}
nav img{ height: 40px;
     width: 130px;
}
nav ul { display: flex;
     gap: 70px;
     cursor: pointer;

}

nav ul li { text-decoration: none;
            font-weight: lighter;
            list-style: none;
}

.herocontainer{ height: 500px;
  width: 1200px;
  background:url(./boss-his-secretary-standing-office-studio_198067-197227.jpg);

}
 .overlay{
  padding: 30px

 }
  .grow { 
     font-size: 90px;
              font-weight: 900;
           color: white;
}
           .with{ font-size: 40px;
            font-weight: 100;
            font-style: normal;
            color: white;
          
           }


.intro{ color: white;
         font-size: 90px;
         font-weight: lighter;
         font-style: italic;
}    


.program{ padding: 30px;
  background-color:#F7F8FA;
   h1{  font-size: 70px;
    font-weight: 900;
    width: 800px;
    
  p{
    color: 
rgb(122, 122, 122);

   padding-bottom: 30px;
   padding-top: 30px;
   font-weight: bold;  
  }

   }
}
.hero{ display: flex;
       justify-content: space-around;
  padding-top: 80px;

  p{
  
    width: 400px;
    color: rgb(51, 51, 51);

    
   
    
  }
     .secondp{
       font-style: italic;
       color: rgb(122, 122, 122);
     }
  h4{color: rgb(122, 122, 122);
    font-weight: lighter;

  }

}
 .growith{  padding-left: 30x;
  padding-top: 50px;

 }
    .about{ display: flex;
           justify-content: space-around;
           padding-top: 40px;
        p{ 
           width: 380px;
           color: rgb(122, 122, 122);

        }



    }




span{
  img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
  }
}
   
.men{
  
      height: 450px;
      width: 500px;
      border-radius: 20px;

}


























@media (min-width: 1024px) {
     nav{ display: row;}
}
@media (max-width: 800px){
    ul{
        display: none;
    }
}
  

@media screen (max-width: 768px)
  nav{ 

}
 nav ul {
     display: flex;
 }


 
@media (max-width: 480px) {
  nav ul {
    display: none;
  }

  nav ul li {
    display: none;
  }

  nav {
    justify-content: center;
  }

  nav img {
    width: 100px;
    height: auto;
  }
}
 @media  (min-width: 1024px){
 .herocontainer{ display: grid;}
 }
  @media  (min-width: 1024px){
    program{display: none;}

  }
  @media (max-width: 480px){
    program {
      display: flex;
    }
  }
    
  
 
